@{
    ViewData["Title"] = "Home Page";
}
<h1>Register</h1>
@model wedding.Models.RegUser
<form asp-controller="Home" asp-action="registerprocess" method="post">
    <label asp-for="First"></label>
    <input asp-for="First"/>
    <span asp-validation-for="First"></span><br>
    
    <label asp-for="Last"></label>
    <input asp-for="Last"/>
    <span asp-validation-for="Last"></span><br>
    
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email"></span><br>
    
    <label asp-for="Password"></label>
    <input asp-for="Password"/>
    <span asp-validation-for="Password"></span><br>
    
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword"/>
    <span asp-validation-for="ConfirmPassword"></span><br>
    
    <button type="submit">Register</button>
</form>
@ViewBag.ErrorRegister
<h1>Login</h1>
<form action="loginprocess" method="post">
    Email: <input type="text" name="Email"><br>
    Password: <input type="password" name="Password"><br>
    <input type="submit" value="Login">
</form>
@ViewBag.LoginError